* {
    margin: 0px;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    background: #ffffff;
}

h2 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 30px;
}

.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;

}

header {
    padding: 50px;
    background: #445161;
    display: flex;
    justify-content: space-between;
}

main {}

section {
    padding: 50px;
}

section h2 {
    text-align: center;
    width: 100%;
}

section:nth-child(even) {
    background: #F2F2F2
}

section:nth-child(odd) {
    background: #FCFCFC
}

section.about {
    display: flex;
    justify-content: space-between;
}

p.about {
    margin-right: 100px;
    margin-bottom: 20px;
}

section.about h2 {
    text-align: left;
}

section.advantages ul {
    columns: 2;
}

li.advantages {
    margin-bottom: 35px;
    margin-right:30px;
    width: 526px;
}

section.advantages {
    display: flex;
    flex-wrap: wrap;
}

section.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    background: #445161;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

i {
    font-size:  2em;
}

.ul-header {
    list-style-position: inside;

    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}


.main-text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}


p.review-main {
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
}

p.review-signature {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

section div.screenshot {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 30px;
}

section div.screenshot-description {
    margin-left: 15px;
}

section div.review {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 24px;
}

section div.text-review {
    margin-left: 16px;
    background: #E9E9E9;
    padding: 16px 20px 16px 16px;
    margin-right: 16px;
}

section.reviews img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
}

h5 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding: 16px 0px;
    text-align: center;

}

section.buy-it-now {
    text-align: center;
}

section div.buy-offer {
    width: 300px;
    background: #445161;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 22px;
    margin-right: 22px;
    display: inline-block;
}

div.price {
    color: #445162;
    background: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 18px 0px;
    margin-left: 2px;
    margin-right: 2px;
}

section.buy-it-now div.buy-offer ol {
    list-style-position: inside;
    margin: 20px 38px 20px 20px;
}

.button-buy {
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    background: #ffffff;
    width: 260px;
    height: 40px;
    text-transform: uppercase;
    margin: 20px;
    border-radius: 5px;

}

h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
}

footer div {
    display: flex;
    justify-content: center;
}

form {
    width: 500px;
    text-align: center;
}

div.contact-details {
    width: 240px;
    margin-left: 45px;
}

input,
textarea {
    border-radius: 5px;
    line-height: 40px;
    width: 100%;
    display: inline-block;
    margin: 10px;
    border: 0px;

    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 14px 10px;
}

textarea {
    height: 170px;
}

footer form button {
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    background: #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    margin: 20px;
    border-radius: 5px;
}

.copyright {
    background: #F2F2F2;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    width: 100%;
}

