* {
    margin: 0px;
    padding: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

body {
    background: #ffffff;
}

h2 {
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.container {
    width: 1280px;
    margin: 0 auto;
    font-family: Arial;

}

header {
    padding: 50px;
    background: #445161;
    display: flex;
    justify-content: space-between;
}

section {
    padding: 50px;
}

section h2 {
    text-align: center;
    width: 100%;
}

section:nth-child(odd) {
    background: #F2F2F2
}

section:nth-child(even) {
    background: #FCFCFC
}

section.about {
    display: flex;
    justify-content: space-between;
}

p.about {
    margin-right: 100px;
    margin-bottom: 20px;
}

section.about h2 {
    text-align: left;
}




.pluses {
    width: 45%;
    margin-bottom: 35px;
    margin-left: 50px;
}

.pluses-name::-webkit-details-marker {
    display: none;

}

.pluses-name {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    outline: none;
}

.pluses-name:before {
    content: "+";
    background-color: #445161;
    color: #ffffff;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 5px;
    left: -41px;

    font-size: 2em;
}

.pluses-text {
    font-family: Arial;
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;



}


details[open] summary:before {
    content: "-";
    display: flex;
    justify-content: center;
    align-items: start;
}

details[open]summary:before {
    display: none;
}



.section-pluses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}



section.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

section.reviews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    background: #445161;
}

h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 400;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

i {
    margin: 8px;
}

.ul-header {
    list-style-position: inside;
    list-style: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
}

div.contact-details ul {
    list-style-position: inside;
    list-style: none;
    color: #ffffff;
}

div.contact-details i {
    font-size: 1.5em;
}

.main-text {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

p.review-main {
    color: #333333;
    font-size: 14px;
    font-style: italic;
    line-height: 18px;
    text-align: left;
}

p.review-signature {
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

h4 {
    color: #445161;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}

section div.screenshot {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 30px;
}

section div.screenshot-description {
    margin-left: 15px;
}

section div.review {
    display: flex;
    width: 50%;
    justify-content: space-between;
    margin-bottom: 24px;
}

section div.text-review {
    margin-left: 16px;
    background: #E9E9E9;
    padding: 16px 20px 16px 16px;
    margin-right: 16px;
    border-radius: 5px;
    position: relative;
}

section div.text-review:before {
    content: "";
    position: absolute;
    border: 15px solid transparent;
    border-right: 15px solid #E9E9E9;
    top: 20px;
    left: -30px;
}

section.reviews img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin-right: 16px;
}

.screenshot img {
    width: 200px;
    height: 150px;
}

section.about video {
    width: 430px;
    height: 245px;
}

h5 {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    padding: 16px 0px;
    text-align: center;
}

section.buy-it-now {
    text-align: center;
}

section div.buy-offer {
    width: 300px;
    background: #445161;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin-left: 22px;
    margin-right: 22px;
    display: inline-block;
}

span.price {
    color: #445162;
    background: #ffffff;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    padding: 18px 0px;
    margin-left: 2px;
    margin-right: 2px;
    display: block;
}

section.buy-it-now div.buy-offer ol {
    list-style-position: inside;
    margin: 20px 38px 20px 20px;
}

.button-buy {
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    background: #ffffff;
    width: 260px;
    height: 40px;
    text-transform: uppercase;
    margin: 5px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;

}

.button-buy:hover {
    background: linear-gradient(to top, #F2F2F2, #ffffff);
}

.button-buy:active {
    box-shadow: 0 0 0px rgba(0, 0, 0, 5);
    background: #F2F2F2;
    outline: none;


}

.button-buy:focus {
    outline: none;
}



h3 {
    margin-top: 50px;
    margin-bottom: 30px;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: column;
}

footer div {
    display: flex;
    justify-content: center;
}

form {
    width: 500px;
    text-align: center;
    margin-right: 45px;
}

input,
textarea {
    border-radius: 5px;
    line-height: 40px;
    width: 100%;
    display: inline-block;
    margin: 10px;
    border: 0px;
    outline: none;

    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding: 14px 10px;
}

textarea {
    height: 170px;
}

footer form button {
    color: #445161;
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    background: #ffffff;
    width: 140px;
    height: 40px;
    text-transform: uppercase;
    margin: 20px;
    border-radius: 5px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin-left: 45px;
}

footer div {
    display: flex;
    align-items: flex-start;
}

.copyright {
    background: #F2F2F2;
    color: #445162;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 24px;
    text-align: center;
    width: 100%;
}

.horizontal-list {
    display: flex;
    justify-content: space-between;
    width: 240px;
    margin-top: 32px;
}

.horizontal-list li a {
    display: flex;
    text-decoration: none;
    background: #ffffff;
    color: #445161;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.horizontal-list li a:hover {
    color: #445161;
    background: #ccc;
}

.text-icon {
    font-size: 12px;
    background: #445162;
}